<section
  class="d-flex align-items-center justify-content-center min-vh-100 background-radial-gradient"
>
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-lg-6 col-md-10 col-sm-12 m-2">
        <div class="card shadow-sm mx-auto">
          <div class="card-body p-4">
            <div class="d-flex justify-content-center mb-2">
              <img
                src="../../assets/images/myloancrm.png"
                alt="Business Logo"
                width="200"
                height="40"
                loading="lazy"
              />
            </div>

            <div class="text-center card-greeting fw-semibold mb-4 fs-6">
              Hi, Welcome Back Admin👋
            </div>

            <form
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit(loginForm.value)"
              novalidate
            >
              <div class="mb-2">
                <label class="form-label fw-medium mt-1" for="username"
                  >Email or Phone Number</label
                >
                <input
                  pInputText
                  type="text"
                  id="username"
                  formControlName="username"
                  placeholder="Enter your email or phone number"
                  autocomplete="off"
                  class="form-control"
                />
              </div>

              <div class="mb-2">
                <label class="form-label fw-medium" for="password"
                  >Password</label
                >
                <div class="p-inputgroup position-relative">
                  <input
                    pInputText
                    id="password"
                    [type]="isPasswordVisible ? 'text' : 'password'"
                    formControlName="password"
                    placeholder="Enter your password"
                    autocomplete="off"
                    class="form-control"
                  />
                  <span
                    class="p-inputgroup-addon bg-white border-start-0"
                    (click)="togglePasswordVisibility()"
                    style="cursor: pointer"
                  >
                    <img
                      [src]="
                        isPasswordVisible
                          ? 'assets/images/icons/eye-slash.svg'
                          : 'assets/images/icons/eye.svg'
                      "
                      alt="Toggle Password Visibility"
                      width="20"
                      height="20"
                    />
                  </span>
                </div>
              </div>

              <button
                type="submit"
                pButton
                pRipple
                class="w-100 mt-3 p-button-primary d-flex align-items-center justify-content-center"
                [disabled]="!loginForm.valid || api_loading"
              >
                Sign In
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
