.background-radial-gradient {
  background-image: url("../../assets/images/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: fixed;
  // min-height: 100vh;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  border: 0.5px solid #878787;
  width: 100%;
  max-width: 450px;
}
.card-greeting {
  color: #29415b;
}
.forgot-text {
  font-size: 14px;
  color: #ee7846 !important;
}
.p-inputgroup-addon {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  z-index: 2;
}

.p-inputgroup input {
  // padding-right: 40px !important;
  border-radius: 5px;
}


