<div
  class="welcome d-flex justify-content-between align-items-center p-1 m-1 greeting-card"
>
  <div class="d-flex align-items-center m-2">
    <div>
      <h5 class="card-title mb-0 text-capitalize">
        {{ greetingMessage }}, &nbsp;<span>{{
          userDetails.name | capitalizeFirst
        }}</span>
      </h5>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-preloader></app-preloader>
</div>

<div class="" *ngIf="!loading">
  <div class="container-fluid">
    <div class="container-fluid text-capitalize p-0">
      <div class="row g-2">
        <ng-container *ngFor="let card of countsAnalytics">
          <div
            *ngIf="card.condition"
            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          >
            <div
              class="card countcard shadow-sm d-flex flex-row align-items-center justify-content-between px-3 py-2 pointer-cursor h-100"
              (click)="goToRoute(card.routerLink)"
            >
              <div>
                <h6 class="card-heading mb-1">{{ card.displayName }}</h6>
                <h4 class="card-count mb-0">{{ card.count }}</h4>
              </div>
              <div
                class="rounded-circle d-flex align-items-center justify-content-center dashboardicon"
                [ngStyle]="{ 'background-color': card.color }"
                style="width: 40px; height: 40px"
              >
                <img
                  [src]="card.icon"
                  alt="{{ card.name }}"
                  width="24"
                  height="24"
                  style="filter: brightness(0) invert(1)"
                />
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row gap-2 mt-2">
        <div class="col-md-6 col-12">
          <br class="d-lg-none d-md-none" />
          <div class="card">
            <div class="text-capitalize" style="height: 350px">
              <p-table
                [value]="accounts"
                class="custom-scrollbar"
                [sortOrder]="-1"
                [lazy]="true"
                selectionMode="single"
                [totalRecords]="accountsCount"
                (onLazyLoad)="onLazyLoadData($event)"
                (onRowSelect)="viewAccount($event)"
                dataKey="id"
                [showCurrentPageReport]="false"
                [rowsPerPageOptions]="[10, 25, 50]"
                [paginator]="true"
                [rows]="10"
                class="p-datatable-striped"
                [loading]="apiLoading"
                scrollHeight="240px"
                styleClass="p-datatable-customers "
              >
                <ng-template pTemplate="caption">
                  <div
                    class="d-flex align-items-center justify-content-between gap-3 flex-nowrap"
                    style="overflow: hidden"
                  >
                    <div>Today Followups</div>
                  </div>
                </ng-template>

                <ng-template pTemplate="header">
                  <tr>
                    <th>Business Name</th>
                    <th>Remarks</th>
                    <!-- <th>FollowUp Date</th> -->
                    <th>Plan</th>
                    <th>Status</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-lead>
                  <tr [pSelectableRow]="lead">
                    <td>
                      {{ lead.businessName || "-" }}
                    </td>

                    <td>
                      {{ lead.latest_remark || "-" }}
                    </td>
                    <!-- <td>
                    {{
                      (lead.filefollowupDate ? lead.filefollowupDate : "-")
                        | date : "MMM d, y, h:mm a"
                    }}
                  </td> -->
                    <td>
                      {{ lead.latest_plan_name | capitalizeFirst }}
                    </td>
                    <td>
                      {{ lead.latest_status | capitalizeFirst }}
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr class="text-center">
                    <td colspan="10" class="text-center fw-bold">
                      <p
                        style="
                          color: #535ab4;
                          font-weight: 400;
                          font-size: 18px;
                        "
                      >
                        No Data Found
                      </p>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-card text-center text-lg-start mx-2 my-4">
      <div class="text-center">
        © 2024
        <span style="color: #ee7846">
          <span style="color: #29415b">My</span>Loan<span style="color: #29415b"
            >CRM.</span
          ></span
        >
        &nbsp; | All Rights Reserved
      </div>
    </footer>
  </div>
</div>
