<div
  class="welcome d-flex justify-content-between align-items-center p-1 m-1 greeting-card"
>
  <div class="d-flex align-items-center m-2">
    <div>
      <h5 class="card-title mb-0 text-capitalize">
        {{ greetingMessage }}, &nbsp;<span>{{
          userDetails.name | capitalizeFirst
        }}</span>
      </h5>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-preloader></app-preloader>
</div>

<div class="" *ngIf="!loading">
  <div class="container-fluid">
    <div class="container-fluid text-capitalize p-0">
      <div class="row g-2">
        <ng-container *ngFor="let card of countsAnalytics">
          <div
            *ngIf="card.condition"
            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          >
            <div
              class="card countcard shadow-sm d-flex flex-row align-items-center justify-content-between px-3 py-2 pointer-cursor h-100"
              (click)="goToRoute(card.routerLink)"
            >
              <div>
                <h6 class="card-heading mb-1">{{ card.displayName }}</h6>
                <h4 class="card-count mb-0">{{ card.count }}</h4>
              </div>
              <div
                class="rounded-circle d-flex align-items-center justify-content-center dashboardicon"
                [ngStyle]="{ 'background-color': card.color }"
                style="width: 40px; height: 40px"
              >
                <img
                  [src]="card.icon"
                  alt="{{ card.name }}"
                  width="24"
                  height="24"
                  style="filter: brightness(0) invert(1)"
                />
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row  mt-2">
        <div class="col-md-6 no-padding-small">
          <br class="d-lg-none d-md-none" />
          <!--Today FallowUp date-->
          <div class="card">
            <div class="text-capitalize" style="height: 420px">
              <p-table
                [value]="accounts"
                class="custom-scrollbar"
                [sortOrder]="-1"
                [lazy]="true"
                selectionMode="single"
                [totalRecords]="accountsCount"
                (onLazyLoad)="onLazyLoadData($event)"
                (onRowSelect)="viewAccount($event)"
                dataKey="id"
                [showCurrentPageReport]="false"
                [rowsPerPageOptions]="[10, 25, 50]"
                [paginator]="true"
                [rows]="10"
                class="p-datatable-striped"
                [loading]="apiLoading"
                scrollHeight="240px"
                styleClass="p-datatable-customers "
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Followups"
                [showCurrentPageReport]="true"
              >
                <ng-template pTemplate="caption">
                  <div
                    class="d-flex align-items-center justify-content-between gap-3 flex-nowrap"
                    style="overflow: hidden"
                  >
                    <div>Today Followups</div>
                  </div>
                </ng-template>

                <ng-template pTemplate="header">
                  <tr>
                    <th>Business Name</th>
                    <th>Remarks</th>
                    <!-- <th>FollowUp Date</th> -->
                    <th>Plan</th>
                    <th>Status</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-lead>
                  <tr [pSelectableRow]="lead">
                    <td>
                      {{ lead.businessName || "-" }}
                    </td>

                    <td>
                      {{ lead.latest_remark || "-" }}
                    </td>
                    <!-- <td>
                    {{
                      (lead.filefollowupDate ? lead.filefollowupDate : "-")
                        | date : "MMM d, y, h:mm a"
                    }}
                  </td> -->
                    <td>
                      {{ lead.latest_plan_name | capitalizeFirst }}
                    </td>
                    <td>
                      {{ lead.latest_status | capitalizeFirst }}
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr class="text-center">
                    <td colspan="10" class="text-center fw-bold">
                      <p
                        style="
                          color: #535ab4;
                          font-weight: 400;
                          font-size: 18px;
                        "
                      >
                        No Data Found
                      </p>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <!--Accounts Table-->
        <div class="col-md-6 no-padding-small">
          <br class="d-lg-none d-md-none" />
          <div class="card">
            <div class="text-capitalize" style="height: 420px">
              <p-table
                [value]="createdAccounts"
                class="custom-scrollbar"
                [paginator]="true"
                [totalRecords]="createdAccountsCount"
                [sortOrder]="-1"
                [lazy]="true"
                selectionMode="single"
                (onLazyLoad)="onLazyLoadCreated($event)"
                (onRowSelect)="viewAccount($event)"
                dataKey="id"
                [showCurrentPageReport]="false"
                [rowsPerPageOptions]="[10, 25, 50]"
                [paginator]="true"
                [rows]="10"
                class="p-datatable-striped"
                [loading]="apiLoading"
                scrollHeight="240px"
                styleClass="p-datatable-customers "
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Accounts"
                [showCurrentPageReport]="true"
              >
                <ng-template pTemplate="caption">
                  <div
                    class="d-flex align-items-center justify-content-between gap-3 flex-nowrap"
                    style="overflow: hidden"
                  >
                    <div>Today Accounts</div>
                  </div>
                </ng-template>

                <ng-template pTemplate="header">
                  <tr>
                    <th>Business Name</th>
                    <th>Mobile Number</th>
                    <!-- <th>FollowUp Date</th> -->
                    <th>Plan</th>
                    <th>Status</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-lead>
                  <tr [pSelectableRow]="lead">
                    <td>
                      {{ lead.businessName || "-" }}
                    </td>

                    <td>
                      {{ lead.mobile || "-" }}
                    </td>
                    <!-- <td>
                    {{
                      (lead.filefollowupDate ? lead.filefollowupDate : "-")
                        | date : "MMM d, y, h:mm a"
                    }}
                  </td> -->
                    <td>
                      {{ lead.latest_plan_name | capitalizeFirst }}
                    </td>
                    <td>
                      {{ lead.latest_status | capitalizeFirst }}
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr class="text-center">
                    <td colspan="10" class="text-center fw-bold">
                      <p
                        style="
                          color: #535ab4;
                          font-weight: 400;
                          font-size: 18px;
                        "
                      >
                        No Data Found
                      </p>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <!-- Today Contacts Table -->
        <div class="col-md-6 no-padding-small mt-3">
          <div class="card">
            <div class="text-capitalize" style="height: 420px">
              <p-table
                [value]="todayContacts"
                [lazy]="true"
                [totalRecords]="todayContactsCount"
                (onLazyLoad)="onLazyLoadTodayContacts($event)"
                dataKey="id"
                [paginator]="true"
                [rows]="10"
                [loading]="apiLoading"
                scrollHeight="240px"
                [showCurrentPageReport]="false"
                [rowsPerPageOptions]="[10, 25, 50]"
                class="p-datatable-striped"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Contacts"
                [showCurrentPageReport]="true"
              >
                <ng-template pTemplate="caption">
                  <div class="d-flex justify-content-between">
                    <div>Today Contacts</div>
                  </div>
                </ng-template>

                <ng-template pTemplate="header">
                  <tr>
                    <th>Business Name</th>
                    <th>Person Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-contact>
                  <tr>
                    <td>{{ contact.company_name || '-' }}</td>
                    <td>{{ contact.full_name || '-' }}</td>
                    <td>{{ contact.phone || '-' }}</td>
                    <td>{{ contact.email || '-' }}</td>
                  </tr>
                </ng-template>

                <!-- <ng-template pTemplate="emptymessage">
                  <tr class="text-center">
                    <td colspan="10">No Data Found</td>
                  </tr>
                </ng-template> -->
                 <ng-template pTemplate="emptymessage">
                  <tr class="text-center">
                    <td colspan="10" class="text-center fw-bold">
                      <p
                        style="
                          color: #535ab4;
                          font-weight: 400;
                          font-size: 18px;
                        "
                      >
                        No Data Found
                      </p>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <!-- Today Subscribers Table -->
        <div class="col-md-6 no-padding-small mt-3">
          <div class="card">
            <div class="text-capitalize" style="height: 420px">
              <p-table
                [value]="todaySubscribers"
                [lazy]="true"
                (onLazyLoad)="onLazyLoadTodaySubscribers($event)"
                dataKey="id"
                [paginator]="true"
                [rows]="10"
                [totalRecords]="todaySubscribersCount"
                [loading]="apiLoading"
                [showCurrentPageReport]="false"
                [rowsPerPageOptions]="[10, 25, 50]"
                scrollHeight="240px"
                class="p-datatable-striped"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Subscribers"
                [showCurrentPageReport]="true"
              >
                <ng-template pTemplate="caption">
                  <div class="d-flex justify-content-between">
                    <div>Today Subscribers</div>
                  </div>
                </ng-template>

                <ng-template pTemplate="header">
                  <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Subscribed On</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-subscriber>
                  <tr>
                    <td>{{ subscriber.id || '-' }}</td>
                    <td>{{ subscriber.email || '-' }}</td>
                    <td>
                      {{ subscriber.subscribed_on ? (subscriber.subscribed_on | date) : '-' }}
                    </td>
                  </tr>
                </ng-template>

                <!-- <ng-template pTemplate="emptymessage">
                  <tr class="text-center">
                    <td colspan="10">No Data Found</td>
                  </tr>
                </ng-template> -->
                 <ng-template pTemplate="emptymessage">
                  <tr class="text-center">
                    <td colspan="10" class="text-center fw-bold">
                      <p
                        style="
                          color: #535ab4;
                          font-weight: 400;
                          font-size: 18px;
                        "
                      >
                        No Data Found
                      </p>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-card text-center text-lg-start mx-2 my-4">
      <div class="text-center">
        © 2024
        <span style="color: #ee7846">
          <span style="color: #29415b">My</span>Loan<span style="color: #29415b"
            >CRM.</span
          ></span
        >
        &nbsp; | All Rights Reserved
      </div>
    </footer>
  </div>
</div>
