<div>
  <!-- Header -->
  <div class="p-1 m-2 fixed-card">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center pointer-cursor" (click)="goBack()">
        <span class="me-2 d-flex align-items-center">
          <img src="../../../assets/images/icons/left-arrow.svg" alt="Back" />
        </span>

        <b>
          <span class="back-btn-text">
            Client Requirements
          </span>
        </b>
      </div>

      <button pButton pRipple type="button" class="p-button-primary me-2" icon="pi pi-plus"
        (click)="createRequirement()">
        &nbsp;Add Requirement
      </button>
    </div>
  </div>

  <!-- Table -->
  <div class="m-2">

    <p-table #requirementTable [value]="requirements" [lazy]="true" (onLazyLoad)="loadRequirements($event)"
      selectionMode="single" (onRowSelect)="viewRequirement($event)" dataKey="id" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [rows]="10" [totalRecords]="requirementsCount"
      [loading]="apiLoading" class="p-datatable-striped" responsiveLayout="scroll" scrollHeight="flex"
      styleClass="p-datatable-customers"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Client Requirements">

      <!-- Search & Filter -->
      <ng-template pTemplate="caption">

        <div class="row align-items-end">


          <!-- Search -->
          <div class="col-md-3 mt-2">
            <label class="fw-label">Search</label>
            <div class="p-inputgroup">
              <input type="text" pInputText placeholder="Search Account ID" [(ngModel)]="accountIdToSearch"
                (ngModelChange)="inputValueChangeEvent($event)" (keyup.enter)="filterWithAccountID()" />

              <button type="button" pButton class="p-button-primary search-btn" [disabled]="!accountIdToSearch"
                (click)="filterWithAccountID()">
                <img src="assets/images/icons/search.svg" alt="Search" width="16" height="16" />
              </button>
            </div>
          </div>

          <!-- Status Filter -->
          <div class="col-md-3 mt-2">
            <label class="fw-label">Status</label>
            <p-dropdown [options]="statusOptions" [(ngModel)]="selectedStatus" optionLabel="label" optionValue="value"
              placeholder="Select Status" [showClear]="true" (onChange)="statusChange($event)" styleClass="w-100">
            </p-dropdown>
          </div>

          <div class="col-md-3 mt-2">
            <label class="fw-label">Requirement Status</label>
            <p-dropdown [options]="requirementStatusOptions" [(ngModel)]="selectedRequirementStatus" optionLabel="label"
              optionValue="value" placeholder="Requirement Status" [showClear]="true"
              (onChange)="requirementStatusChange($event)" styleClass="w-100">
            </p-dropdown>

          </div>

          <div class="col-md-2 mt-2" *ngIf="loggedInUserRole === 1">
            <label class="fw-label">Assigned To</label>
            <p-multiSelect [options]="assignedToOptions" [(ngModel)]="selectedAssignedTo" optionLabel="label"
              optionValue="value" [filter]="true" [showToggleAll]="true" [showClear]="true"
              (onChange)="assignedToChange($event)" [style]="{ width: '100%' }" appendTo="body" display="chip"
              defaultLabel="All Users">
            </p-multiSelect>

          </div>
          <div class="col-md-1 mt-2 d-flex justify-content-end align-items-end">


            <app-filter [position]="'right'" [iconColor]="'#33009C'" [iconSize]="'28px!important'"
              (filterEvent)="applyConfigFilters($event)" [filterConfig]="filterConfig"
              [showFilterIndication]="appliedFilter" pTooltip="Filter" tooltipPosition="top">
            </app-filter>

          </div>



        </div>

      </ng-template>

      <!-- Header -->
      <ng-template pTemplate="header">
        <tr>
          <th>Account ID</th>
          <th>Requirement</th>
          <th>Remarks</th>
          <th>Status</th>
          <th>Requirement Status</th>
          <th>Deadline Date</th>
          <th>Created By</th>
          <th>Assigned To</th>
          <th class="text-center">Quick Actions</th>
        </tr>
      </ng-template>

      <!-- Body -->
      <ng-template pTemplate="body" let-item>
        <tr [pSelectableRow]="item">

          <td>
            <span class="table-column-data">
              {{ item.accountID }}
            </span>
          </td>

          <td>
            <span class="table-column-data">
              {{ item.requirement }}
            </span>
          </td>

          <td>

            <span class="table-column-data">

              {{ item.remarks }}

            </span>

          </td>

          <!-- Active / Inactive -->
          <!-- Status -->
          <td>
            <span class="status-badge" [ngClass]="{
      'status-active':
        item.status == 'Active' || item.status == 1,
      'status-inactive':
        item.status == 'Inactive' || item.status == 2
    }">
              <span class="status-dot"></span>

              {{
              item.status == 'Active' || item.status == 1
              ? 'Active'
              : 'Inactive'
              }}
            </span>
          </td>

          <!-- Requirement Status -->
          <td>
            <span class="table-column-data fw-bold" [ngStyle]="{
                color:
                  item.requirementStatus == 'Completed'
                    ? '#5DCC0B'
                    : item.requirementStatus == 'Pending'
                    ? '#FF9800'
                    : item.requirementStatus == 'In Progress'
                    ? '#2196F3'
                    : '#FF555A'
              }">

              {{ item.requirementStatus }}

            </span>
          </td>

          <!-- Deadline -->
          <td>
            <span class="table-column-data">
              {{ item.deadlineDate | date:'dd-MMM-yyyy' }}
            </span>
          </td>
          <td>
            <span class="table-column-data">
              {{ item.createdBy }}
            </span>
          </td>
          <td>
            <span class="table-column-data">
              {{ item.assignedToName}}
            </span>
          </td>
          <td>
            <div class="text-center d-flex justify-content-center align-items-center">

              <!-- Edit -->
              <img alt="Edit Requirement" src="../../../assets/images/icons/edit.svg" width="24" height="24"
                class="me-2 pointer-cursor" (click)="updateRequirement(item.id)" pTooltip="Edit Requirement"
                tooltipPosition="top" />

              <!-- Menu -->
              <p-menu appendTo="body" #menu [model]="actionItems(item)" [popup]="true">
              </p-menu>

              <img alt="Actions" src="../../../assets/images/icons/menu.svg" width="24" height="24"
                class="pointer-cursor" pTooltip="Actions" tooltipPosition="top"
                (click)="menu.toggle($event); $event.stopPropagation()" />

            </div>
          </td>

        </tr>
      </ng-template>

      <!-- Empty -->
      <ng-template pTemplate="emptymessage">
        <td colspan="9" class="text-center py-5">

          <img src="../../../assets/images/menu/no-data.gif" width="200" height="200" class="d-block mx-auto" />

          <p class="fw-bold mt-3 mb-0">
            No Client Requirements Found
          </p>

        </td>
      </ng-template>

    </p-table>

  </div>
</div>